* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("bg1.jpg");
    backdrop-filter: blur(2px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-color 0.3s ease;
}

body.light-mode {
    background-color: #0e0c0c;
    color: #f0eaea;
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: rgba(133, 112, 23, 0.781);
    border-radius: 20px;
    width: 370px;
    padding: 10px;
}

body.light-mode #calculator {
    background-color: #3a7483;
    color: #eee7e7;
}

h1 {
    color: rgb(241, 232, 232);
    font-size: 1.7rem;
    text-align: center;
}

body.light-mode h1 {
    color: #f5efef;
}

#display {
    padding: 7px;
    width: 95%;
    font-size: 1.5rem;
    border: none;
    background-color: rgb(18, 18, 20);
    color: rgb(221, 212, 212);
    border: 3px solid rgb(243, 241, 241);
    border-radius: 7px;
    margin-top: 10px;
}

body.light-mode #display {
    background-color: #fff;
    color: #000;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    padding: 13px 0;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: rgb(206, 206, 216);
    color: rgb(26, 24, 24);
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.operator-btn {
    background-color: rgba(245, 202, 10, 0.76);
}

#history {
    max-height: 190px;
    overflow-y: auto;
    background: #eee;
    padding: 10px;
    border-radius: 15px;
    margin: 20px 0;
}

body.light-mode #history {
    background-color: #333;
    color: #fff;
}

#theme-toggle {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    #calculator {
        width: 90%;
    }

    button {
        font-size: 1.2rem;
    }
}
